In [2]:
import pandas as pd
from pathlib import Path

In [3]:
ROOT = Path.cwd().parent
path_raw = ROOT / "data" / "raw" / "heart.csv"
df = pd.read_csv(path_raw)
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

### In the previous section , we saw that there is no null values ; but we observed that theres a problema with the column name "Cholesterol", theres a lot of patients with 0 .

In [4]:
df["Cholesterol"].value_counts()

Cholesterol
0      172
254     11
220     10
223     10
204      9
      ...
353      1
278      1
157      1
176      1
131      1
Name: count, Length: 222, dtype: int64

In [5]:
df[df["Cholesterol"]==0].shape

(172, 12)

In [6]:
df_clean= df[df["Cholesterol"]!=0]
print("original shape:", df.shape)
print("cleaned shape:", df_clean.shape)

original shape: (918, 12)
cleaned shape: (746, 12)

In [8]:
df["HeartDisease"].value_counts()

HeartDisease
1    508
0    410
Name: count, dtype: int64